#CpE-Admission {
    display:none;
}

.dropdown:hover > .dropdown-menu{
    display: block;
}

.dropdown:hover > .dropdown-menu, #Community_Dropdown:hover > .dropdown-menu {
    display: block;
}


.contact{
    text-decoration: none !important;
}

#body{
    overflow-y: scroll;
}