/* Tags */
footer{
    background-color: rgb(0, 105, 55);
    color: whitesmoke;
}

i{
    color: whitesmoke;
}

a{
    color:rgb(0, 105, 55);
}

li{
    color:rgb(0, 105, 55);
}

/* IDs */
#CpE-Admission {
    display:none;
}

#body{
    overflow-y: scroll;
}

/* Classes */
.dropdown:hover > .dropdown-menu{
    display: block;
}

.dropdown:hover > .dropdown-menu, #Community_Dropdown:hover > .dropdown-menu {
    display: block;
}


.contact{
    text-decoration: none !important;
}



.fw-bold{
    color: rgb(0, 105, 55);
}

